<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <app-account-list (changeAccountStatusEmit)="changeAccountStatus($event)"></app-account-list>
        <ion-segment (ionChange)="segmentChanged($event)" class="segment-selector" [(ngModel)]="selectedSegment">
            <ion-segment-button value="past-posts" >
                <ion-label>Past posts</ion-label>
            </ion-segment-button>
            <ion-segment-button value="future-posts">
                <ion-label>Future posts</ion-label>
            </ion-segment-button>
        </ion-segment>

    <ion-progress-bar type="indeterminate" *ngIf="!isLoaded"></ion-progress-bar>
    <div  *ngFor="let post of sortPostArrayByData" class="post-card">
        <div class="post-card__header">
            <ion-avatar class="post-card__header__account-avatar" slot="start">
                    <img [src]="post.accountPictureUrl ?  post.accountPictureUrl : null">
                <ion-icon name="logo-facebook" class="post-card__header__account-avatar-icon-facebook"></ion-icon>
            </ion-avatar>
            <div>
                <ion-label>{{post.fromName}}</ion-label>
                <ion-card-subtitle>{{post.createdTime | date: 'MM/dd/yyyy hh:mm a'}}</ion-card-subtitle>
            </div>
            <ion-icon ios="ios-more" md="md-more" class="post-card__header__more-btn"></ion-icon>
        </div>
        <div class="post-card__body">
            <ion-text *ngIf="post.message">{{post.message}}</ion-text>
            <img  *ngIf="post.fullPicture" [src]="post.fullPicture"/>
        </div>
    </div>


</ion-content>



