.accounts-list-box {
  padding: 5px 5px 10px 5px;
  overflow-x: auto;
  border-bottom: 1px solid #c5c5c5;
  box-shadow: 0 5px 0 #e2e2e2;

  &__account-item {
    margin: 0 5px 0 5px;
    height: 50px;
    width: 50px;
    position: relative;

    &__account-item-active {
      border: solid 3px var(--ion-color-facebook);;
      -moz-box-shadow: 0 8px 6px -6px var(--ion-color-facebook);;
      box-shadow: 0 8px 10px -8px var(--ion-color-facebook);;

    }
  }

  &__account-item-icon-facebook {
    color: var(--ion-color-facebook);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
  }
}



.post-card {

  &__account-avatar {
    margin: 0 5px 0 5px;
    height: 40px;
    width: 40px;
    position: relative;
  }

  &__account-avatar-icon-facebook {
    color: var(--ion-color-facebook);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
  }
}


.segment-selector{
  border-bottom: 1px solid #c5c5c5;
  box-shadow: 0 3px 0 #e2e2e2;
  padding: 10px 10px 5px 10px;
}
